body {
    background-color: coral;
    text-align: center;
    margin: 0 auto;
}


h1 {
    font-size: 50px;
    color: blue
}

h2 {
    font-size: 40px;
    padding-right: 10px;
    padding-left: 10px;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    margin-left: 20%;
    width: 60%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    padding: 5, 20;
    background-color: white;
  }
  

  
  .choice-text {
    padding: 1.5rem;
    width: 100%;
  }
  
  .correct {
    background-color: #28a745;
  }
  
  .incorrect {
    background-color: #dc3545;
  }
  
  /* triv */
  
  #triv{
    display: flex;
    justify-content: space-evenly;
  }
  
  .triv-prefix {
    text-align: center;
    font-size: 2rem;
  }
  
  .triv-main-text {
    text-align: center;
}
  
  .btn {
    background-color: green;
    align: center
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}

  